@font-face {
  font-family: Pompadur; /* Гарнитура шрифта */
  src: url(../font/Laptev_Brush.otf); /* Путь к файлу со шрифтом */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Pompadur;
  font-size: 20px;
  background-image: linear-gradient(180deg, rgba(231, 151, 207, 0.47), rgba(180, 163, 229, 0.46));
}

.container {
  background-image: linear-gradient(325deg, #e797cf 50%, #b4a3e5 50%);
  box-shadow: 0 0 15px #8d8788;


  &__input {
    background: white;
    font-family: Pompadur;
    font-size: 20px;
    margin: 10px 0 0 0;

    &:nth-of-type(2n) {
      border: 3px solid rgba(127, 0, 165, 0.34);
    }

    &:disabled {
      background: #505050;
    }

    &--button:hover {
      box-shadow: 0 0 30px #ffc2c2;
    }

    &:focus {
      outline: 2px solid #c969b3;
    }

    &--button {
      font-size: 25px;
      border: 1px solid #1E0033;
      width: 150px;
    }

  }

  &__text {
    margin: 10px 0 0 0;
    width: 400px;
    text-align: center;
  }

  &__condition {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__solution {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

}

