@font-face {
  font-family: Pompadur; /* Гарнитура шрифта */
  src: url(font/NeutralFace.otf); /* Путь к файлу со шрифтом */
}

@mixin font {
  font-family: Pompadur;
  font-size: 20px;
}

html {
  @include font;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(231, 151, 207, 0.47), rgba(180, 163, 229, 0.46));
}

input:nth-of-type(2n) {
  border: 3px solid #7f00a5;
}

.container {
  width: 500px;
  padding: 20px;
  background-image: linear-gradient(325deg, #e797cf 50%, #b4a3e5 50%);
  box-shadow: 0 0 15px #8d8788;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;



  &__input--button {
    @include font;
    font-size: 25px;
    width: 150px;

    &:hover {
      box-shadow: 0 0 20px #ee9595;
    }

    &:focus {
      border: 3px solid #1E0033;
    }

    &:disabled {
      background: #505050;
    }
  }

  &__input--number {
    @include font;

    &:focus {
      outline: 2px solid #442d3f;
    }
  }

  &__text {
    margin: 10px 0;
  }

  &__condition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__solution {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

