@font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url(font/Laptev_Brush.otf); /* Путь к файлу со шрифтом */
}
* {
    margin: 0px;
    font-family:Pompadur;
    font-size: 20px;
}
p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    width: 400px;
    margin: 80px auto;
    padding: 20px;
    background: linear-gradient(325deg,#fbc6d0 50%,#c2d1e5 50%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}
.condition, .inputData {
    text-align: center;
}
::-webkit-scrollbar {
    width: 0;
}
body {
    height: 89vh;
    background-image: linear-gradient(0deg,#c2d1e5 30%,#fbc6d0);
}

input[type="button"] {
    height: 30px;
    width: 100px;
    font-family:Pompadur;
    background-color: #c2d1e5;
    background-clip: padding-box;
    border:0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type="button"]:hover {
    background-color: #fbc6d0;
}